* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

body {
    background: #060b23;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* APP */
.app {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* BLOQUES */
.block {
    background: #11162e;
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.block label {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

/* INPUT */
.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.task-input input {
    flex: 1;
    padding: 16px;        /* más alto */
    border-radius: 14px;
    border: none;
    outline: none;
    font-size: 18px;      /* 👈 importante para iPhone (evita zoom). minimo 16px */
}

.task-input button {
    background: #00c896;
    border: none;
    border-radius: 12px;
    padding: 12px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* LISTA */
.task-list {
    max-height: 300px;
    overflow-y: scroll;              /* fuerza scroll */
    scrollbar-width: thin;           /* Firefox */
}

/* Chrome / Edge / Safari */
.task-list::-webkit-scrollbar {
    width: 6px;
}

.task-list::-webkit-scrollbar-thumb {
    background: #00c896;
    border-radius: 10px;
}



/* TAREA */
.task {
    background: #1a1f3a;
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.completed {
    background: #00c896;
    color: #060b23;
}

.task span {
    flex: 1;
}

/* BOTONES */
.task-buttons {
    display: flex;
    gap: 8px;
}

.task-buttons button {
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.complete:hover { color: #00c896; }
.undo:hover { color: #ffc107; }
.edit:hover { color: #00c896; }
.delete:hover { color: #ff4d4d; }





.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal-content {
    background: #1a1f3a;
    padding: 20px;
    border-radius: 16px;
    color: white;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#confirmBtn {
    background: #ff4d4d;
    color: white;
}

#cancelBtn {
    background: #ccc;
}